.section h2 {
  text-align: center;
  margin-bottom: 0px;
}

.cards{
  display: flex;
  justify-content: center;

}

.card{
  height: 260px;
  width: 240px;
  margin: 40px;
  box-shadow: 0 0 5px lightgray;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card img {
  margin-top: 20px;
  width: 130px;
  height: 110px;
}

.card h3 {
  font-size: 17px;
}

.card p {
  font-weight: 400;
  color: #7F7F7F;
}
